.main-view__thisweek-view { 
    display: flex; 
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;
    
    width: 100%; 
    height: 100%; 
}

.thisweek-view__divider-container { 
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    
    width: 200px; 
    height: 100%;
}

.divider-container__divider { 
    width: 2px;
    height: 85%;    

    background-color: var(--purple); // Changeable
}

.thisweek-view__thisweek-slider-container { 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between;
    
    width: 700px;
    height: 700px;
}

#thisweek-nav-container { 
    display: flex; 
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    
    width: 90px; 
    height: 100%;

    background-color: var(--dark-theme-tertiary); // Changeable (based on theme)
}

#thisweek-nav-container__thisweek-svg-container { 
    display: flex; 
    flex-direction: row; 
    align-items: center;
    justify-content: center;

    width: 48px; 
    height: 48px;

    background-color: var(--purple); // Changeable (based on theme)
    filter: grayscale(0.2);
    transition: filter 250ms ease;
    transition: box-shadow 250ms ease;

    border-radius: 10px;
    cursor: pointer;
}

#thisweek-nav-container__thisweek-svg-container:hover { 
    filter: grayscale(0);
    box-shadow: 0 0 8px 5px var(--dark-theme-quaternary); // Changeable (based on theme)
}

#thisweek-svg-container__nav-svg { 
    font-size: 2rem;
}

.thisweek-slider-container__thisweek-slider-container { 
    width: 500px; 
    height: 100%;
    
    border-radius: 10px;
    border: 2px solid var(--purple); // Changeable
    
    overflow: hidden;
    box-shadow: 0 0 8px 5px var(--dark-theme-quaternary); // Changeable
}

.thisweek-slider-container__thisweek-slider-root { 
    width: 800%;
    height: 100%; 

    transition: transform 250ms ease;
}

// weekToHTML elements

.thisweek-day-base { 
    width: 500px; 
    height: 700px;

    background-color: var(--dark-theme-secondary); // Changeable (based on theme)

    border-radius: 10px;

    float: left;
}

.thisweek-day-base__thisweek-day-header-container { 
    display: flex; 
    flex-direction: row;
    align-items: center;

    width: 100%; 
    height: 75px;

    background-color: var(--dark-theme-primary); // Changeable (based on theme)

    border-radius: 10px 10px 0 0;
}

.thisweek-day-header-container__weekday-container { 
    display: flex; 
    flex-direction: row;
    align-items: flex-end;

    height: 75%;

    margin: 0 30px 0 20px; 

    font-size: 3rem;
    font-weight: bold;
}

.thisweek-day-header-container__date-container { 
    display: flex; 
    flex-direction: row;
    align-items: flex-end;

    height: 75%;

    font-size: 2.4rem;
    font-weight: bold;
}

.thisweek-day-base__pseudo-element { 
    width: 400px; 
    height: 4px;
    
    background-color: var(--purple); // Changeable

    transform: translateY(-629px);
}

.thisweek-day-base__thisweek-day-events-container { 
    width: 100%; 
    height: 625px;
    background-color: var(--dark-theme-secondary); // Changeable (based on theme)

    border-radius: 0 0 10px 10px;
}

