.main-view__thismonth-view { 
    display: flex; 
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;

    width: 100%; 
    height: 100%;
}

.thismonth-view__divider-container { 
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    width: 200px; 
    height: 100%; 
}

.thismonth-view__thismonth-calendar-container { 
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 984px;
    height: 704px; 
    background-color: var(--purple); // Changeable

    box-shadow: 0 0 5px 8px var(--dark-theme-quaternary); // Changeable (based on theme)
    border-radius: 25px 25px 0 0;
}

.thismonth-calendar-container__thismonth-calendar-content-container { 
    width: 980px;
    height: 700px;
    background-color: var(--dark-theme-secondary); // Changeable (based on theme)
    border-radius: 25px 25px 0 0;
}

.thismonth-calendar-container__thismonth-header-container { 
    display: flex; 
    flex-direction: row; 
    align-items: center;
    justify-content: center;

    width: 100%; 
    height: 75px;

    background-color: var(--purple); // Changeable (based on theme)

    border-bottom: 2px solid var(--purple); // Changeable
    border-radius: 25px 25px 0 0;
}

.thismonth-header-container__thismonth-header-content-container { 
    display: flex; 
    flex-direction: row; 
    align-items: center;
    justify-content: center;

    width: 976px;
    height: 71px;

    background-color: var(--dark-theme-tertiary); // Chanageable (based on theme)
    border-radius: 25px 25px 0 0;
}

.thismonth-header-container__header-name { 
    font-size: 3.4rem;
}

.thismonth-calendar-container__calendar-days-container { 
    width: 100%; 
    height: calc(100% - 75px);
}

.calendar-days-container__weekdays-container { 
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    width: 100%; 
    height: 25px;

    border-bottom: 2px solid var(--purple); // Changeable (based on theme)
}

.weekday-base { 
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;

    width: 140px;
    height: 25px;

    background-color: var(--purple); // Changeable (based on theme) 
}

.weekday-base__content-container { 
    display: flex; 
    flex-direction: row; 
    align-items: center;
    justify-content: center;

    width: 136px;
    height: 21px;

    background-color: var(--dark-theme-primary);
}

.weekday-base__weekday-name { 
    font-size: 1.2rem;
}

.thismonth-day-base { 
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 140px;
    height: 100px;

    background-color: var(--purple); // Changeable

    cursor: pointer;

    &.empty-day { 
        filter: grayscale(0.7) opacity(0.8);
        cursor: unset;
    }
}

.thismonth-day-base__day-contents-container { 
    width: 136px;
    height: 96px;

    background-color: var(--dark-theme-secondary); // Changeable (based on theme)
}

.thismonth-day-base__day-contents-container:hover { 
    background-color: var(--dark-theme-primary); // Changeable (based on theme)
}

.day-contents-container__day-header-container { 
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;

    width: 100%; 
    height: 20px;
}

.day-contents-container__day-events-container-root { 
    display: flex; 
    flex-direction: column;
    align-items: center;

    width: 100%; 
    height: calc(100% - 20px);
}

.calendar-days-container__all-days-container { 
    display: grid;
    place-items: center;
    grid-template-columns: repeat(7, 140px);
    grid-template-rows: repeat(6, 100px);
}

.TEST { 
    width: 140px; 
    height: 110px; 
    background-color: blue;
    border: 2px solid black;
}